<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.osm2.test_33">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
           <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        <activity
            android:name=".SplashScreen"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                TODO Step 5 - Make your Splashcreen Activity the launcher activity of your app
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

             <activity android:name=".listProduct.ProductListActivity" />
        </activity>
        -->

        <activity
            android:name=".listProduct.ProductDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".listProduct.ProductListAdressActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".listProduct.ProductListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TiresActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ReMain2Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.ones" />
        <activity
            android:name=".oils.OilsListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".oils.OilsListAdressActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TestActivity" />
        <activity
            android:name=".oils.lukoil.Oil_LUKOIL"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Complaint_all.CommunicationsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MtrActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".activity.UploadActivity">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>


    </application>

</manifest>